/*
 * Empty Stylesheet file.
 */
@font-face {
    font-family: 'HP Simplified';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/HPSimplified_Rg.ttf');
}
    
    .button{
        
        -fx-font-size : 12;
        -fx-font-family : "HP Simplified";
    }
    
/* -fx-background-color : -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color; */

    .button:hover{
        
        -fx-font-size : 12;
        -fx-font-family : "HP Simplified";
        -fx-background-color :  #48D1CC, #E0F7FA, #dcdcdc, #40e0d0; 
    }


